/* Encriptador - 1 Celular */

position: relative;
width: 375px;
height: 933px;

/* Light blue/light-blue-100 */
background: #F3F5FC;


/* Ingrese el texto aqui */

position: absolute;
width: 343px;
height: 48px;
left: 16px;
top: 152px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */

/* Dark blue/dark-blue-300 */
color: #0A3871;



/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 343px;
height: 158px;
left: 16px;
top: 485px;



/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: static;
width: 343px;
height: 67px;
left: 0px;
top: 0px;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;


/* Button */

position: static;
width: 295px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: static;
width: 343px;
height: 67px;
left: 0px;
top: 91px;

/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
box-sizing: border-box;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;


/* Button */

position: static;
width: 295px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */
color: #0A3871;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 229px;
height: 18px;
left: 16px;
top: 451px;



/* bi:exclamation-circle-fill */

position: static;
width: 16px;
height: 16px;
left: 0px;
top: 1px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #67808E;


/* Solo letras minúsculas y sin acentos */

position: static;
width: 205px;
height: 18px;
left: 24px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */

/* Gray/gray-400 */
color: #495057;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;


/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;

position: absolute;
width: 327px;
height: 186px;
left: 24px;
top: 707px;

/* White */
background: #FFFFFF;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;


/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 263px;
height: 122px;
left: 32px;
top: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;


/* Ningún mensaje fue encontrado */

position: static;
width: 263px;
height: 58px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */
text-align: center;

/* Gray/gray-500 */
color: #343A40;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;


/* Ingresa el texto que desees encriptar o desencriptar. */

position: static;
width: 263px;
height: 48px;
left: 0px;
top: 74px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
text-align: center;

/* Gray/gray-400 */
color: #495057;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;


/* Header */

position: absolute;
width: 375px;
height: 96px;
left: 0px;
top: 0px;



/* Bg */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border-radius: 0px 0px 16px 16px;


/* Actions */

position: absolute;
visibility: hidden;
left: 4.27%;
right: nan%;
top: 108.33%;
bottom: nan%;



/* Menu */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
left: 4.27%;
right: 61.6%;
top: 108.33%;
bottom: -83.33%;

filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.04));
border-radius: 800px;


/* List */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;

position: static;
width: 128px;
height: 72px;
left: 0px;
top: 0px;

background: rgba(0, 0, 0, 0.1);
border-radius: 800px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;


/* Page icon */

position: static;
width: 40px;
height: 40px;
left: 16px;
top: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;


/* Ellipse 1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* carbon:text-small-caps */

position: absolute;
left: 20%;
right: 20%;
top: 20%;
bottom: 20%;



/* Vector */

position: absolute;
left: 56.25%;
right: 6.25%;
top: 40.62%;
bottom: 15.62%;

/* White */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 6.25%;
right: 31.25%;
top: 18.75%;
bottom: 15.62%;

/* White */
background: #FFFFFF;


/* Page icon */

position: static;
width: 40px;
height: 40px;
left: 72px;
top: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;


/* Ellipse 8 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* mdi:head-outline */

position: absolute;
left: 20%;
right: 20%;
top: 20%;
bottom: 20%;



/* Vector */

position: absolute;
left: 8.56%;
right: 8.33%;
top: 4.17%;
bottom: 4.17%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* Menu */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
left: 61.6%;
right: 4.27%;
top: 108.33%;
bottom: -83.33%;

filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.04));
border-radius: 800px;


/* List */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;

position: static;
width: 128px;
height: 72px;
left: 0px;
top: 0px;

background: rgba(0, 0, 0, 0.1);
border-radius: 800px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;


/* Page icon */

position: static;
width: 40px;
height: 40px;
left: 16px;
top: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;


/* Ellipse 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* PT */

position: absolute;
left: 25%;
right: 22.5%;
top: 20%;
bottom: 20%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;

/* White */
color: #FFFFFF;



/* Page icon */

position: static;
width: 40px;
height: 40px;
left: 72px;
top: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;


/* Ellipse 6 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* ES */

position: absolute;
left: 25%;
right: 25%;
top: 20%;
bottom: 20%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;

/* Dark blue/dark-blue-300 */
color: #0A3871;



/* Top */

position: absolute;
left: 4.27%;
right: 87.2%;
top: 25%;
bottom: 25%;



/* Vector */

position: absolute;
left: 4.27%;
right: 87.2%;
top: 25%;
bottom: 25%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* Group 6 */

position: absolute;
visibility: hidden;
left: 82.93%;
right: nan%;
top: 25%;
bottom: nan%;



/* Rectangle 9 */

position: absolute;
left: 82.93%;
right: 4.27%;
top: 25%;
bottom: 25%;



/* Group 5 */

position: absolute;
left: 83.2%;
right: nan%;
top: 32.29%;
bottom: nan%;



/* Rectangle 6 */

position: absolute;
left: 83.2%;
right: 4.8%;
top: 32.29%;
bottom: 61.46%;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 8px;


/* Rectangle 7 */

position: absolute;
left: 83.2%;
right: 6.93%;
top: 46.88%;
bottom: 46.88%;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 8px;


/* Rectangle 8 */

position: absolute;
left: 83.2%;
right: 9.07%;
top: 61.46%;
bottom: 32.29%;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 8px;