/* Encriptador - 2 Celular */

position: relative;
width: 375px;
height: 1715px;

/* Light blue/light-blue-100 */
background: #F3F5FC;


/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;

position: absolute;
width: 343px;
height: 595px;
left: 16px;
top: 1096px;

/* White */
background: #FFFFFF;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci montes, sit et diam risus scelerisque vitae est. Tortor maecenas nunc ut laoreet. Eget diam mauris quam quisque ut eget fringilla sit elit. Libero, sodales duis fames id diam feugiat aliquet non egestas. */

position: static;
width: 279px;
height: 432px;
left: 32px;
top: 32px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */

/* Gray/gray-400 */
color: #495057;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: static;
width: 279px;
height: 67px;
left: 32px;
top: 496px;

/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
box-sizing: border-box;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;


/* Button */

position: static;
width: 231px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */
color: #0A3871;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 343px;
height: 158px;
left: 16px;
top: 874px;



/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: static;
width: 343px;
height: 67px;
left: 0px;
top: 0px;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;


/* Button */

position: static;
width: 295px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: static;
width: 343px;
height: 67px;
left: 0px;
top: 91px;

/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
box-sizing: border-box;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;


/* Button */

position: static;
width: 295px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */
color: #0A3871;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 229px;
height: 18px;
left: 16px;
top: 840px;



/* bi:exclamation-circle-fill */

position: static;
width: 16px;
height: 16px;
left: 0px;
top: 1px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #67808E;


/* Solo letras minúsculas y sin acentos */

position: static;
width: 205px;
height: 18px;
left: 24px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */

/* Gray/gray-400 */
color: #495057;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci montes, sit et diam risus scelerisque vitae est. Tortor maecenas nunc ut laoreet. Eget diam mauris quam quisque ut eget fringilla sit elit. Libero, sodales duis fames id diam feugiat aliquet non egestas. */

position: absolute;
width: 343px;
height: 624px;
left: 16px;
top: 152px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* or 48px */

color: #0A3871;



/* Group 7 */

position: absolute;
width: 30.43px;
height: 48.03px;
left: 16px;
top: 23.97px;



/* Group 3 */

position: absolute;
width: 30.43px;
height: 48.03px;
left: 16px;
top: 23.97px;



/* Rectangle 5 */

position: absolute;
width: 30.35px;
height: 46.95px;
left: 16px;
top: 25.05px;

background: #E9ECF8;


/* Vector */

position: absolute;
left: 4.27%;
right: 87.62%;
top: 1.4%;
bottom: 95.91%;

/* Dark blue/dark-blue-300 */
background: #0A3871;


/* Group 6 */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 311px;
top: 24px;



/* Rectangle 9 */

position: absolute;
width: 48px;
height: 48px;
left: 311px;
top: 24px;



/* Group 5 */

position: absolute;
width: 45px;
height: 34px;
left: 312px;
top: 31px;



/* Rectangle 6 */

position: absolute;
width: 45px;
height: 6px;
left: 312px;
top: 31px;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 8px;


/* Rectangle 7 */

position: absolute;
width: 37px;
height: 6px;
left: 312px;
top: 45px;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 8px;


/* Rectangle 8 */

position: absolute;
width: 29px;
height: 6px;
left: 312px;
top: 59px;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 8px;